.todo_content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.main {

    .container {
        position: relative;
    }
}
